/* styles.css */

/* Set color variables */
.root {
    -text-color: #3E4756;
    -background-color: #f0f0f0;
    -primary-color: #155E98;
    -secondary-color: #DCF2FF;
    -accent-color: #5A90CF;
}

/* Style for month and year label */
.text {
    -fx-font-size: 12pt;
    -fx-fill: -primary-color;
}

.button {
-fx-background-color: transparent;
    -fx-font-size: 8pt;
    -fx-border-color: -primary-color;
    -fx-border-width: 2px;
    -fx-border-radius: 50px; /* Set circular border radius */
    -fx-text-fill: white;
    -fx-transition: translateX 0.3s ease;
}

.button:hover {
    -fx-background-color: -primary-color;
    -fx-background-radius: 50px; /* Set circular background radius on hover */
}
.button:hover .text {
    -fx-fill: white;
}
/* Style for grid cells */
.grid-pane > * {
    -fx-padding: 10px; /* Adjust the padding to add more space between dates */
    -fx-border-color: derive(-text-color, 50%);
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-background-color: -secondary-color;
}

/* Style for selected day button */
.grid-pane > .selected-day {
    -fx-background-color: -accent-color;
    -fx-text-fill: white;
}
