/* styles.css */

/* Set color variables */
.root {
    -text-color: #3E4756;
    -background-color: #f0f0f0;
    -primary-color: #155E98; /* Define the primary color */
    -secondary-color: #DCF2FF;
    -accent-color: #5A90CF;
}

/* Style for month and year label */
.text {
    -fx-font-size: 12pt;
    -fx-fill: #155E98;
}

.button {
-fx-background-color: transparent;
    -fx-font-size: 8pt;
    -fx-border-color: -primary-color;
    -fx-border-width: 2px;
    -fx-border-radius: 50px; /* Set circular border radius */
    -fx-text-fill: white;
    -fx-transition: translateX 0.3s ease;
}

.button:hover {
    -fx-background-color: -primary-color;
    -fx-background-radius: 50px; /* Set circular background radius on hover */
}
.button:hover .text {
    -fx-fill: white;
}
/* Style for grid cells */
.grid-pane > * {
    -fx-padding: 10px; /* Adjust the padding to add more space between dates */
    -fx-border-color: derive(-text-color, 50%);
    -fx-border-width: 1px;
    -fx-alignment: center;
    -fx-background-color: -secondary-color;
}

/* Style for selected day button */
.grid-pane > .selected-day {
    -fx-background-color: -accent-color;
    -fx-text-fill: white;
}

.day-button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-color: #2980b9;
}

.day-button:hover {
    -fx-background-color: #2980b9;
}

.month-year-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

#calendarPane{
    -fx-background-color: #F5FAFF;
}

.cell-container:hover {
    -fx-background-color: #DCF2FF; /* Change background color on hover */
    -fx-text-fill: white; /* Change text color on hover */
    -fx-border-color: white; /* Change border color on hover */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.8), 10, 0, 0, 1); /* Add drop shadow effect on hover */
}
.cell-container {
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-alignment: center; /* Center the content inside the cell */
    -fx-background-radius: 10;

}
