.root {
    -var-text-fill: #3E4756;
    -var-background-color: #f0f0f0;
    -var-primary-color: #155E98;
    -var-secondary-color: #DCF2FF;
    -var-accent-color: #5A90CF;
    -var-accent-black: #2c3034;
    -dark-accent-color: #2E578F
}
