.text {
    -fx-font-family: "Poppins";
}

.text-title-logo {
    -fx-font-weight: bold;
    -fx-fill: linear-gradient(to right, #155d99, #5A90CF);
}


.contentBackground {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 20px 0 0 0;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* Enable caching */
.tile-pane {
    -fx-cache: true;
}

/* Set horizontal gap to 15.0 */
.tile-pane {
    -fx-hgap: 15.0;
}

/* Set preferred columns to 4 */
.tile-pane {
    -fx-pref-columns: 4;
}

/* Set preferred rows to 4 */
.tile-pane {
    -fx-pref-rows: 4;
}

/* Set vertical gap to 15.0 */
.tile-pane {
    -fx-vgap: 15.0;
}

#closeBox, #maximizeBox, #minimizeBox {
    -fx-background-radius: 5;
}

#closeBox:hover {
    -fx-background-color: red;
}

#maximizeBox:hover {
    -fx-background-color: #5A90CF;
}

#minimizeBox:hover {
    -fx-background-color: #5A90CF;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .tile-pane {
        -fx-pref-columns: 2;
        -fx-pref-rows: 6;
    }
}
