@import url('colors.css');

.text-color {
    -fx-text-fill: #3E4756;
}

.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-text-fill: #3E4756;
    -fx-background-color: #f0f0f0;
    -fx-primary-color: #155E98;
    -fx-secondary-color: #DCF2FF;
    -fx-accent-color: #5A90CF;
}
.text {
    -fx-font-family: "Poppins";
    -fx-text-fill: -var-text-fill;
}
.toggle-button {
    -fx-background-color: derive(-var-background-color, 20%); /* Adjust the background color based on the root background color */
    -fx-text-fill: -var-text-fill; /* Text color */
    -fx-font-size: 14px; /* Font size */
    -fx-padding: 8px 16px; /* Padding */
}

.toggle-button:selected {
    -fx-fill: linear-gradient(to right, -var-primary-color, -var-accent-color);
    -fx-text-fill: white; /* Text color when selected */
}

.form-pane {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #ccc;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 20px;
}

/* Apply circular border radius and increased padding to text input elements */
.text-input {
    -fx-background-color:  #fff;
    -fx-border-color: linear-gradient(to right, -var-primary-color, -var-accent-color);
    -fx-border-radius: 30px;
    /* Circular border radius */
    -fx-background-radius: 30px;
    /* Circular background radius */
    -fx-padding: 10px;
    /* Increased padding */
    -fx-pref-height: 40px;
    /* Adjust height as needed */
    -fx-pref-width: 250px;
    -fx-min-width: 150px;
}
.non-editable {
    -fx-background-color:  #fff;
    -fx-border-color: linear-gradient(to right, -var-primary-color, -var-accent-color);
    -fx-border-radius: 30px;
    /* Circular border radius */
    -fx-background-radius: 30px;
    /* Increased padding */
    -fx-pref-height: 40px;
    /* Adjust height as needed */
    -fx-pref-width: 250px;
    -fx-min-width: 150px;
}
.text-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -var-text-fill;
}

.center-label {
    -fx-font-size: 16px;
}

.button {
    -fx-font-size: 12px;
    -fx-background-color: transparent;
    -fx-text-fill: -var-primary-color;
    -fx-border-radius: 40px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 20px;
    -fx-border-color:  #155E98;
    -fx-pref-height: 40px;
    -fx-pref-width: 150px;
    -fx-translate-x: 0; /* Initial position */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition: translateX 0.3s ease;
}
.button:hover {
    -fx-background-color: #155e98; /* Initial background color for hover state */
    -fx-text-fill: white; /* Text color for hover state */
    -fx-background-insets: 0; /* Reset default background insets */
    -fx-background-radius: 30px; /* Circular background radius */
}

.button:armed {
    -fx-background-color: #155e98; /* Final background color after animation for pressed state */
}

.button .transition {
    -fx-background-color: #155e98; /* Final background color after animation for default state */
    -fx-text-fill: white; /* Text color for default state */
}

.navigation {
    -fx-background-color: #e6e6eb;
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: linear-gradient(to right, #155d99, #5A90CF);
    -fx-font-weight: 700;
}

.sub-header {
    -fx-font-size: 20px;
    -fx-text-fill: linear-gradient(to right, #155d99, #5A90CF);
    -fx-font-weight: 500;
}
.footer-price {
     -fx-font-size: 15px;
     -fx-text-fill: linear-gradient(to right, #155d99, #5A90CF);
     -fx-font-weight: 500;
 }
.position {
    -fx-font-size: 15px;
    -fx-text-fill: linear-gradient(to right, #155d99, #5A90CF);
    -fx-font-weight: 500;
}
.dropdown{
    -fx-background-color:  #fff;
    -fx-border-color:  #155E98;
    -fx-border-radius: 30px;
    /* Circular border radius */
    -fx-background-radius: 30px;
    /* Circular background radius */
    -fx-padding: 5px;
    /* Increased padding */
    -fx-pref-height: 40px;
    /* Adjust height as needed */
    -fx-pref-width: 300px;
    /* Adjust width as needed */
}
.combo-box{
    -fx-background-color: transparent;
    -fx-pref-width: 300px;
}
.combo-box .arrow-button .arrow {
    -fx-fill: #155E98; /* Color of the arrow */
}
.combo-box .arrow-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-fill: #155E98;
}

/* In your CSS file (styles.css for example) */
/* Style for the calendarPane */
#calendarPane {
    -fx-background-color: #F2F2F2; /* Set background color */
    -fx-border-color: #CCCCCC; /* Set border color */
    -fx-border-width: 1px; /* Set border width */
}

.profileBox{
    -fx-background-color: #155D99;
    -fx-background-radius: 10 0 0 10;
    -fx-text-fill: whitesmoke;
}

/* Style for day labels (Sunday to Saturday) */
.calendar-day-label {
    -fx-font-weight: bold; /* Make the text bold */
    -fx-text-fill: #333333; /* Set text color */
    -fx-padding: 10px; /* Set padding */
}

/* Style for day labels with background color */
.calendar-day-label-selected {
    -fx-background-color: #155E98; /* Set background color */
    -fx-text-fill: white; /* Set text color */
    -fx-font-weight: bold; /* Make the text bold */
    -fx-padding: 10px; /* Set padding */
}

/* In your CSS file (styles.css for example) */
.circular-label {
    -fx-background-color: #155E98; /* Set background color */
    -fx-text-fill: white; /* Set text color */
    -fx-alignment: center; /* Center the text within the label */
    -fx-border-radius: 50%; /* Set border radius to 50% for a circular shape */
    -fx-min-width: 30px; /* Set the minimum width */
    -fx-min-height: 30px; /* Set the minimum height */
    -fx-max-width: 30px; /* Set the maximum width */
    -fx-max-height: 30px; /* Set the maximum height */
}
.calendar-day-label-selected {
    -fx-background-color: #155E98;
    -fx-text-fill: white;
}
/* styles.css */
.vbox-navigation {
    -fx-border-color: transparent;
    -fx-border-width: 3 3 3 3;
}

.vbox-navigation:hover {
    -fx-border-color: transparent  transparent transparent #155D99;
}

.vbox-navigation.selected {
    -fx-border-color: transparent transparent transparent #155D99;
}

.tab-pane{
    -fx-background-color: #F5FAFF;
    -fx-background-radius: 10;
}
.tab{
    -fx-font-size: 12px;
    -fx-font-weight: 700;
    -fx-background-color: #DCF2FF;
    -fx-text-fill: #3E4756;
}
.tab:selected{
    -fx-background-color: #155D99;
}
.tab:selected .tab-label{
    -fx-text-fill: whitesmoke;
}
.tab-pane .tab-header-background {
    -fx-background-color: #F5FAFF;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0.5, 0, 0);
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-background-color: transparent; /* Set the background color of the ScrollBar */
    -fx-background-radius: 50;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #155D99;
    -fx-background-radius: 5em;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white; /* Set text color for increment button */

}
.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color: #155D99;
    -fx-border-radius: 5;
}
/* styles.css */
.toggle-button {
    -fx-background-color: transparent; /* Default background color */
    -fx-border-color: #155D99;
    -fx-border-width: 3;
    -fx-border-radius: 50;
}

.toggle-button:hover {
    -fx-background-color: #45a049; /* Background color when hovered */
}

.toggle-button:selected {
    -fx-background-color: #008CBA; /* Background color when selected */
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .text-input {
        -fx-pref-width: 200px;
    }
    .button {
        -fx-pref-width: 120px;
    }
    .dropdown{
        -fx-pref-width: 250px;
    }
}

/* Custom styles for the DatePicker */
.date-picker {
    -fx-font-family: "Poppins";
    -fx-font-size: 14px;
    -fx-text-fill: #3E4756;
    -fx-background-color: transparent;
    -fx-background-radius: 30px;
}

/* Custom styles for the DatePicker's arrow button */
.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 5px;
}

.date-picker .arrow-button .arrow {
    -fx-fill: #155E98;

}

/* Custom styles for the DatePicker's popup */
.date-picker-popup {
    -fx-background-color: #F5FAFF;
    -fx-border-color: #ccc;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

/* Custom styles for the DatePicker's calendar buttons */
.date-picker .button {
    -fx-background-color: transparent;
    -fx-text-fill: #155E98;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-padding: 10px 20px;
    -fx-border-color: #155E98;
    -fx-pref-height: 30px;
    -fx-pref-width: 30px;
    -fx-translate-x: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
    -fx-transition: translateX 0.3s ease;
}

.date-picker .button:hover {
    -fx-background-color: #155E98;
    -fx-text-fill: white;
    -fx-background-insets: 0;
    -fx-background-radius: 30px;
}

.date-picker .button:armed {
    -fx-background-color: #155E98;
}

/* Custom styles for the DatePicker's day labels (Sunday to Saturday) */
.date-picker .calendar-day-label {
    -fx-font-weight: 600;
    -fx-text-fill: #3E4756;
    -fx-padding: 5px;
}

/* Custom styles for the DatePicker's selected day labels */
.date-picker .calendar-day-label-selected {
    -fx-background-color: #155E98;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}
.grid-pane {
    -fx-padding: 10; /* Padding around the GridPane */
    -fx-hgap: 15;    /* Horizontal gap between columns */
    -fx-vgap: 15;    /* Vertical gap between rows */
}


 .context-menu, .menu-item {
     -fx-background-color: #f0f0f0; /* White background */
     -fx-text-fill: #333333;        /* Dark gray text */
     -fx-font-size: 14px;           /* Font size */
     -fx-padding: 5px;             /* Padding around the items */
 }

 .context-menu .menu-item:focused,
 .context-menu .menu-item:hover,
 .menu .menu-item:focused,
 .menu .menu-item:hover {
     -fx-background-color: #155E98; /* Light gray background on hover */
 }

 .context-menu .menu-item:disabled,
 .menu .menu-item:disabled {
     -fx-text-fill: #999999; /* Lighter text for disabled items */
 }

 .context-menu, .menu {
     -fx-background-color: #f5f5f5; /* Light gray background for the whole menu */
     -fx-border-color: #5A90CF;     /* Light gray border */
     -fx-border-width: 1px;
 }

 .menu-bar {
     -fx-background-color: #f5f5f5; /* Light gray background for the menu bar */
     -fx-padding: 0 10px;           /* Padding for the menu bar */
     -fx-text-fill: #333333;        /* Dark gray text for the menu items */
 }

 .menu-bar .menu-button {
     -fx-background-color: #f5f5f5;
     -fx-text-fill: #333333;
 }

 .menu-bar .menu-button:hover {
     -fx-background-color: #DCF2FF;
 }

 .menu .menu-item:focused,
 .menu .menu-item:hover {
     -fx-background-color: #155E98;
     -fx-text-fill: #3E4756;
 }
