.container {
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: #155E98;
    -fx-padding: 50px;
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #155E98;
    -fx-pref-height: 40px;
}

/* styles.css */
.table-view .column-header {
    -fx-text-fill: white;
}


.table-view .column-header,
.table-view .column-header .label {
    -fx-text-fill: #f0f0f0;
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-text-fill: #3E4756;
    -fx-pref-height: 40px;
    -fx-background-color: #5A90CF;
}

.table-row-cell:selected {
    -fx-background-color: #155E98;
    -fx-text-fill: #f0f0f0;
}

.table-row-cell:odd {
    -fx-background-color: #DCF2FF;
}

.table-row-cell:even {
    -fx-background-color: transparent;

}