.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-background-color: #f0f8ff;
    -fx-font-weight: bold;
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}


.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #155E98, #7c9ebb);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell:hover .cell {
    -fx-background-color: linear-gradient(to bottom, #155D99, #7c9ebb);
    -fx-text-background-color: #f0f8ff;
}

.table-row-cell:odd {
    -fx-background-color: #DCF2FF;
    -fx-text-background-color: #3E4756;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(to bottom, #155E98, #7c9ebb);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to bottom, #155E98, #7c9ebb);
}

.table-row-cell:selected {
    -fx-background-color: #155E98;
    -fx-background-radius: 15px;
    -fx-text-background-color: #f0f8ff;
}
.table-view .table-cell .combo-box {
    -fx-background-color: -var-background-color;
    -fx-padding: 0; /* Remove padding if needed */
    -fx-border-color: #d3d3d3; /* Default border color */
    -fx-border-width: 1px; /* Border width */
}
.table-view .table-cell .combo-box .list-cell {
    -fx-background-color: -var-background-color;
    -fx-text-fill: -var-text-fill;
}
