.container {
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
    -fx-padding: 50px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-text-fill: #3E4756;
    -fx-text-alignment: right;
}

.table-view .column-header-background {
    -fx-background-color: #155E98;
    -fx-pref-height: 35px;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: whitesmoke;
}

.table-view .column-header .label {
    -fx-text-fill: #f0f0f0;
    -fx-alignment: CENTER_LEFT;
    -fx-label-padding: 5;
}

.table-row-cell {
    -fx-text-fill: #3E4756;
    -fx-pref-height: 30px;
    -fx-background-color: #5A90CF;
}

.table-view .column {
    -fx-background-color: transparent;
    -fx-border-color: #3E4756;
}

.table-row-cell:selected .text {
    -fx-fill: whitesmoke; /* Font color of selected row text */
    -fx-font-weight: 700;
}

.table-row-cell:selected .cell {
    -fx-background-color: #155E98;;
}
.table-row-cell:hover .text {
    -fx-fill: whitesmoke; /* Font color of selected row text */
    -fx-font-weight: 700;
}
.table-row-cell:hover .cell {
    -fx-background-color: #155E98;;
}
.table-row-cell:odd {
    -fx-background-color: #DCF2FF;
}

.table-row-cell:even {
    -fx-background-color: transparent;
}
.text-field-table-cell{
    -fx-background-color: transparent;
}