.text {
    -fx-font-family: "Poppins";
    -fx-fill: #3E4756; /* Sets the text color to #101014 */
}

.text-title-logo{
    -fx-font-weight: bold; /* Makes the text bold (heavy) */
    -fx-fill: linear-gradient(to right, #155d99, #5A90CF);
}
